<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Chatbot UI</title>
</head>
<body>
    <header>
        <div class="header-nav">
            <!-- <nav>
                <label for="auth" class= "top-label">Auth: </label>
                <input type="text" name="auth" class="auth">
                <button class="auth-btn">Set</button>
            </nav> -->
            <!-- <nav class="params-right"> -->
                <!-- <div class="component">
                    <label for="threshold" class="top-label">Threshold: </label>
                    <input type="number" name="threshold" class="threshold" step="0.1" max="5" min="-9" placeholder="-5">
                    <button class="threshold-btn">Set</button>
                </div> -->
                <div class="component">
                    <label for="n-results" class="top-label">Max results: </label>
                    <input type="number" name="n-results" class="n-results" min="1" max="5" placeholder="3">
                    <button class="n-results-btn">Set</button>
                </div>
            </nav>
        </div>
    </header>
    <main>
        <div class="main-div">
            <div class="container">
                <section class="top-section">
                    <div class="agent-details">

                    </div>
                    <img src="static/images/openArtPriest.png" alt="Chatbot's profile picture" class = "agent-pic">
                    <div class="agent-text">
                        <h3>Smart Bible Assistant</h3>
                    </div>
                </section>
                <section class="chat-history-section">
                    <div class="agent-interaction">
                        <div class="agent-profile">
                            <img src="static/images/openArtPriest.png" alt="Chatbot's profile picture" class = "agent-pic">
                            <p><b>AI</b></p>
                        </div>
                        <div class="agent-message first-message">
                            <p class="welcome">Hello there! I am an AI assistant designed to help people find relevant passages in 
                                the Holy Scriptures. Write a phrase or question in the chat to begin. <i>Tip: For better results, provide precise, explicit questions or phrases. Don't ask for specific verses or passages.</i>
                            </p>
                        </div>
                    </div>
                        <div class="agent-interaction">
                            <div class="agent-profile">
                                <img src="static/images/openArtPriest.png" alt="Chatbot's profile picture" class = "agent-pic">
                                <p><b>AI</b></p>
                            </div>
                            <div class="agent-message">
                                <div class="questions">
                                    <p>Example questions: </p><br>
                                    <ul>
                                        <li><em>"What can you tell me about the garden of Eden?"</em><br></li>
                                        <li><em>"Let's talk about Peter and the 3 denials"</em></li>
                                    </ul>

                                </div>
                            </div>
                        </div>
                    
                    <div class="user-interaction">

                    </div>
                </section>
                <section class="bot-section">
                    <div class="nav-input">
                        <input type="text" value="Type a message here" class="user-input-bar">
                        <button class="send-btn"><img src="static/images/sendIcon.png" alt="Send Icon"></button>
                    </div>
                </section>
            </div>
        </div>
        <nav class="nav-bot">
            <p class="bot-text">Disclaimer: It is important to note that the responses generated by the chatbot are automatic and
                may not always accurately reflect the intended context or interpretation of the original text. Please be aware that the chatbot is not perfect, and its responses are not a substitute for professional religious guidance or interpretation.</p>
            <p class="bot-text"><a href="https://github.com/laureanolorenzo/Smart-Bible">You can find the github repository here</a></p>
        </nav>
    </main>
    <footer>
        <div class="footer-container">
            <p class="footer-text">Developed by Laureano Lorenzo for Backdrop build v3</p>
            <p>Priest image made with OpenArt</p>
        </div>
    </footer>
<script src="static/js/chat-script.js"></script>
</body>
</html>